
<div class="container" ng-controller="ShowsCtrl" ng-init="getShows();">
 	<!--  style="margin-left: 22%;" -->
	<!-- Main Block -->
	<div class="main">
		<div >
		  <h3>{{cinema.c_name}}</h3>
		  <ul class="nav nav-pills">
		    <li ng-repeat="x in CurrentSelectedMovie.m_date">
		    	<a ng-bind="formatDate(x) |  date:'dd, MMM'" ng-click="getSelectedDatesShow(x);" ng-class="{'active':check}">{{x}}</a>
		    </li>
		  </ul>		

			<br/>
			<table class="table table-striped">
				<tr>
					<th>Movie(s)</th>
					<th>Show(s)</th>
				</tr>
			    <tr ng-repeat="m in fa">
			     	<td>{{m.m_name}}</td>
			      	<div ng-class="{'myShowHideDiv': show == true,'myShowHideDiv2': show == false}">
			      		<h4 style="text-align: center;">{{rs}}{{price}}{{rse}}</h4>
			      		<h6 style="text-align: center;margin-bottom: 12px;">{{availability}}</h6><p></p>
			      	</div>
			      	<td> 
				    	<span ng-repeat="z in y.timing"> 
				    		<a ng-mouseenter="showShowPrice(z);" ng-mouseleave="hideShowPrice();" ng-click="showShowPrice(z);DatesShows2();getSelectedCinema(y);selectSeat(z);" href="#seatselection"> {{z}} </a> 
				    	</span>
			      	</td>
			      </tr>
			</table>
		</div>	
	</div>	
</div>