<div class="container" ng-controller="ShowsCtrl" style="margin-top: 8%;">
	</br>
	<div class="row">
		<div class="well">
			<div class="list-group" ng-repeat="c in callshow(showsData)">
			  <a ui-sref="" class="list-group-item">
					<div class="media col-md-3">
						<figure class="pull-left">
							<img class="media-object img-rounded img-responsive"  ng-src="{{c.m_thumb}}" alt="placehold.it/350x250" style="height:200px;width:320px;">
						</figure>
					</div>
					<div class="col-md-6">
						<h4 class="list-group-item-heading"> {{c.m_name}} </h4></br>
						<b>Language:</b>{{c.m_lang}}</b></br>
						<b>Description:</b>{{c.m_desc}}
						<!-- {{shows}} -->
						
					</div>
					<div class="col-md-3 text-center">
						<br>
						<button type="button" class="btn btn-lg btn-danger" ui-sref="buyTickets" ng-click="setCurrentSelectedMovie(c);"> Book Now </button>
					</div>
			  </a>
			</div>
		</div>
	</div>
</div>