<!DOCTYPE html>
<html lang="en" ng-app="bysApp">
<head>
	<meta charset="UTF-8">
	<title>BYS</title>
	<!-- <base href="/" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/BYS_logo.jpg">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/web1.css"> 	
	<link rel="stylesheet" type="text/css" href="css/carousel.css">
</head>
<body ng-controller="homeCtrl" bgcolor="#F7F7F7" ng-init="homeMov();">
	
	<nav class="navbar navbar-inverse" style="border-radius:0;z-index: 90" data-spy="affix" data-offset-top="-3">
	  <div class="container-fluid">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" ui-sref="home">
			<span>
				<img class="img-responsive" src="images/BYS_logo.jpg" height="50" width="50" style="-webkit-mask-image: -webkit-gradient(radial, 17 17, 123, 17 17, 138, from(rgb(0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.2)), to(rgb(0, 0, 0)));">
				BookYourShow
			</span> 
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
			<li class="dropdown" style="z-index: 200;">
		    	<a id="dropdownDivID" class="dropdown-toggle" data-toggle="dropdown">
		    		<span class="glyphicon glyphicon-map-marker">
		    		</span>  {{city}} <span class="caret"></span>
		    	</a>
		       	<ul id="cityDivID" class="dropdown-menu" data-target="#myNavbar">
		       	  <li><a ui-sref="movies" ng-click="changecity('Chennai');" data-toggle="collapse" data-target="#myNavbar">Chennai</a></li>
		       	  <li><a ui-sref="movies" ng-click="changecity('Delhi');" data-toggle="collapse" data-target="#myNavbar">Delhi</a></li>
				  <li><a ui-sref="movies" ng-click="changecity('Bangalore');" data-toggle="collapse" data-target="#myNavbar">Bangalore</a></li>
				  <li><a ui-sref="movies" ng-click="changecity('Mumbai');" data-toggle="collapse" data-target="#myNavbar">Mumbai</a></li>
				</ul>
			</li>
	        <li></li>
		    <li><a ui-sref="movies" data-toggle="collapse" data-target="#myNavbar">Movies</a></li>
		    <li><a ui-sref="cinemas" data-toggle="collapse" data-target="#myNavbar">Cinemas</a></li>
		    <li><a ui-sref="bookinghistory" data-toggle="collapse" data-target="#myNavbar">Booking History</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>


	<ui-view style="background-color:#F7F7F7;min-height: 300px;"></ui-view>

	<div ng-include="'pages/footer/footer.html'"></div>

</body>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fittext.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="js/ngStorage.min.js"></script>
<script src="router/routes.js"></script>
<script src="pages/home/homeCtrl.js"></script>
<script src="factories/myFactory.js"></script>
<script src="pages/movies/MovieCtrl.js"></script>
<script src="pages/buyticket/BuyTicketsCtrl.js"></script>
<script src="pages/seatlayout/SeatSelectionCtrl.js"></script>
<script src="pages/bookinghistory/bookingHistoryCtrl.js"></script>
<script src="pages/bookingconfirmed/bookingConfirmCtrl.js"></script>
<script src="pages/cinema/CinemaCtrl.js"></script>
<script src="pages/shows/ShowsCtrl.js"></script>
</html>