<!DOCTYPE html>
<html>
<head>
	<title>RECESS CINEMAS</title>
 <link rel="stylesheet" href="web1.css">
</head>
<body ng-app="myApp">
<div  id="title">
<font size="20px">RECESS CINEMAS</font>
<button id="menu1">
HOME</button>
<button id="menu2">
MOVIES</button>
<button id="menu3">
SHOWTIME</button>
<button id="menu4">
CINEMAS</button>
</div>
<div  ng-controller="myCtrl as mc">
<div id="welcomenote">

<font size=5px;><b>Welcome to Recess!</b></font>
		<div >
			<input type="button" id="signup" value="Sign Up Now!" ng-click="mc.togglefilter()" style="margin-left: 1050px" class="dropbtn"/>
		</div>


	<div  id="divsign" ng-hide="toggle">
	<form class="form-horizontal" role="form" ng-submit="">
		<div class="form-group">
			</br></br>
			<label class="col-md-2 control-label" style="margin-left:70px">User id</label>
			<div class="col-md-4" style="margin-left:70px">
				<input type="text" class="form-control"	placeholder="Enter your email" ng-model="name" />
			</div>
		</div>
	<div class="form-group">
		<label class="col-md-2 control-label" style="margin-left:70px">Password</label>
		<div class="col-md-4" style="margin-left:70px">
			<input type="text" class="form-control" placeholder="Password" ng-model="Empid" />
		</div>
	</div>
		<div class="form-group">								
		<div style="padding:100px">
			<input type="submit" id="signup" value="Submit" class="dropbtn"/>
		</div>
		</div>	
	</form>
	</div>
</div>
</div>

<div id="theatre">
	<img src="./thea.jpg">

</div>
<div id="signin">
<h2><center>
Sign in!
</center>
</h2>
	<form class="form-horizontal" role="form" ng-submit="">
	<div class="form-group">
		</br></br>
		<label class="col-md-2 control-label" style="margin-left:70px">User id</label>
		<div class="col-md-4" style="margin-left:70px">
		<input type="text" class="form-control"	placeholder="Enter your email" ng-model="name" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label" style="margin-left:70px">Password</label>
		<div class="col-md-4" style="margin-left:70px">
			<input type="text" class="form-control" placeholder="Password" ng-model="Empid" />
		</div>
	</div>
		<div class="form-group">								
		<div style="padding:100px">
			<input type="submit" id="signup" value="Submit" class="dropbtn"/>
		</div>
	</div>	
</form>
</div>
<div id="quote3">
<i>"Cinema is universal, beyond flags and borders and passports." -Alejandro Gonzalez Inarritu<i>
</div>
<div id="quote2">
"Everybody has something that chews them up and, for me, that thing was always loneliness. The cinema has the power to make you not feel lonely, even when you are."-Tom Hanks
</div>
<div id="quote1">
"Cinema is much more than heroes and villains."- Anurag Kashyap
</div>

<div id="footer">
<center>
<font size="5px">
Recess Cinemas,Inc Corporated</font></center>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="./signup-open.js"></script>
</body>
</html>